:root {
    --primary-color: #5B5A76;
    --alternate-color: white;
    --secondary-color: #A6A6A6;
    --navbar-color: #7892BD;
    --toggle-button-on-color: #5B5A76;
    --toggle-button-off-color: #7892BD;
    --in-use-color: #E19A17;
    --available-color: #7EC6AD;
    --background-color: white;
    --divider-color: rgba(91, 90, 118, 0.2);
    --thumb-border-color: #eeeeee;
    --thumb-background-color: #f4f4f4;
    --border-color: #A6A6A6;
    --box-shadow: rgba(235, 242, 247, 0.5) 0px 8px 24px;
}

body {
    color: var(--primary-color);
    background-color: var(--background-color);

    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1 {
    font-family: 'Bubblegum Sans', cursive;
}

h2,
h3,
h4,
h5,
h6,
nav {
    font-family: 'Boogaloo', cursive;
}

main {
    max-width: 720px;
    margin: 0 auto;
}

section {
    width: 100%;
    margin: 32px 0;
    border-bottom: 1px solid var(--divider-color);
}

footer {
    font-size: 12px;
    text-align: center;
    min-height: 120px;

    display: flex;
    flex-direction: column;
    justify-content: end;
}

a {
    color: var(--primary-color);
}

/* desktop navbar */

.mobile-nav {
    display: none;
}

.desktop-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    transition: background 0.5s;
    margin: 0;
    padding-right: 30px;
    padding-top: 22px;
    padding-bottom: 22px;
    z-index: 1;

}

.desktop-nav a {
    text-decoration: none;
    font-size: 22px;
}

a.active {
    text-decoration: underline;
}

a.search {
    color: var(--navbar-color);
}

.desktop-nav-search {
    display: flex;
    justify-content: end;
    padding: 7px;
    margin-right: 40px;
    height: 20px;
    background-color: var(--background-color);
}

.clicked-search-icon {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    border: 1px solid var(--navbar-color);
    border-radius: 20px;
    width: 25%;
    justify-content: end;

}

.desktop-nav-links {
    display: flex;
    flex-direction: row;
}

.desktop-nav-links a {
    margin-left: 40px;
}

.text-input-search {
    display: none;
    border: 0px solid;
    background: transparent;
    transition: background 0.5s;
    outline: none;
    flex: 1;
    overflow: hidden;
}

.search {
    flex: 0 0 auto;
}

input:focus {
    color: var(--primary-color);
}

input::placeholder {
    color: var(--primary-color);
    opacity: 0.7;
}

.scrolled .desktop-nav-search {
    background-color: initial;
}


.scrolled .clicked-search-icon {
    border: 1px solid var(--background-color);
}


.scrolled {
    background-color: var(--navbar-color);
}

.scrolled a {
    color: var(--alternate-color);
}

.scrolled a.search {
    color: var(--alternate-color);
}


.scrolled input:focus {
    color: var(--alternate-color);
}


.scrolled input::placeholder {
    color: var(--alternate-color);
    opacity: 0.7;
}


.common-loading-spinner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.common-loading-spinner img {
    width: 100px;
    height: 100px;
}

.preview-dialog-frame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: none;
    display: none;
    z-index: 2;
}

/* mobile navbar */
@media screen and (max-width: 640px) {
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
        position: fixed;

        top: 0;
        width: 100%;
        transition: background 0.5s;
        z-index: 1;
    }

    .collapsed-navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 14px;
    }

    .mobile-nav-search {
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding: 7px;
        height: 20px;
        background-color: var(--background-color);
        transition: background 0.5s;
    }

    .mobile-nav-links {
        display: none;
    }

    .mobile-nav-links>* {
        border-top: solid 0.25px white;
        padding: 14px;
    }

    .mobile-nav a {
        color: var(--primary-color);
        text-decoration: none;
        font-size: 20px;
        display: block;
    }

    .mobile-nav a.mobile-search {
        color: var(--navbar-color);
    }

    .mobile-nav-open {
        background-color: var(--navbar-color);
    }

    .mobile-nav-open a {
        color: var(--alternate-color);
    }

    .mobile-nav-open a.mobile-search {
        color: var(--alternate-color);
    }

    .mobile-text-input-search {
        display: none;
        border: 0px solid;
        background: transparent;
        transition: background 0.5s;
        outline: none;
        flex: 1;
        overflow: hidden;
    }

    .clicked-mobile-search-icon {
        display: flex;
        flex-direction: row;
        border: 1px solid var(--navbar-color);
        border-radius: 20px;
        width: 75%;
        justify-content: end;
    }

    .mobile-search {
        flex: 0 0 auto;
    }

    .mobile-nav-open .mobile-nav-search {
        background-color: var(--navbar-color);
    }

    .mobile-nav a.active {
        text-decoration: underline;
    }

    .scrolled .mobile-nav-search {
        background-color: initial;
    }


    .scrolled {
        background-color: var(--navbar-color);
    }

    .scrolled a.mobile-search {
        color: var(--alternate-color);
    }

    .scrolled a.navbar-menu {
        color: var(--alternate-color);
    }

    .scrolled .clicked-mobile-search-icon {
        border: 1px solid var(--background-color);
    }
}