.padd-15{
    padding-left: 50px;
}
.pricing{
    width: 90%;
    margin: auto;
    border-bottom: 1px solid rgb(193, 193, 206);
}

.pricing-heading{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -15px;
}
.pricing-heading h2{
    font-size: 25px;
}
.pricing-items p{
    padding-bottom: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    background-color: #ffffff;
    top: 0;
}


.nav-links {
    display: flex;
    flex-direction: row;
}

.nav-links h4 {
    margin-left: 32px;
    margin-right: 32px;
}

.nav-search {
    margin-right: 32px;
}

a{
    color:  #5B5A76;
    text-decoration: none;
}

.nav-links a.active{
    text-decoration-line: underline;
}
