.filter-dialog {
    display: none;
}

.background-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    z-index: -1;
}

.filter-ctr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.filter-ctr a {
    text-decoration: none;
}

.filter-main {
    position: relative;
    box-sizing: border-box;
    padding: 16px;
    width: 100%;
    height: 100%;
    max-width: 360px;
    max-height: 530px;
    background-color: white;
    border-radius: 16px;


}

.filter-close-button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    color: #A6A6A6;
}

.title {
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    margin: auto;
}

.filter-types {
    border-bottom: 1px solid var(--divider-color);
}

.final-filter-type {
    border-bottom: none;
}

.filter-type {
    display: flex;
    justify-content: space-between;
}

.filter-type-title {
    font-size: 25px;
    font-weight: bold;
}

.filter-section-clear-button {
    position: relative;
    margin-top: 26px;
    top: 0;
    right: 0;
    font-size: 25px;
}

.option-pair {
    margin-bottom: 30px;
}

.option {
    position: relative;
    margin: 5px;
    background-color: var(--toggle-button-off-color);
    color: var(--alternate-color);
    padding: 10px;
    border-radius: 300px;
    margin-bottom: 30px;
}

.selected {
    background-color: var(--toggle-button-on-color);
}