h2 {
    text-align: center;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.col {
    display: flex;
}
.container {
    display: flex;
    justify-content: space-between;
    gap: 14rem;
}.contact-data {
    padding: 2em;
}
.contact-address {
    margin-left: 3em;
}
.tel {
    margin-top: 2em;
}
.contact-social {
    color: black;
    font-weight: bold;
    font-size: 4.5em;
}
/* mobile view */
@media (max-width: 600px) and (max-width: 768px) {
    .contact-map {
        width: 100vw;
    }
    #mapDiv {
        margin: 0 auto;
    }
   .contact-map iframe {
        width: 80%;
        padding: 1em;
    }
    .col {
        display: grid;
        margin: 0 auto;
    }
    .contact-social {
        font-size: 3em;
        margin: auto 0;
        display: flex;
        gap: .7em;
    }
    .container {
        display: flex;
        width: 100vw;
        margin: 0 auto;
        padding: 2em;
        
    }
}