h2 {
    text-align: center;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.col {
    display: flex;
}
.contact-address {
    margin-left: 3em;
}
.tel {
    margin-top: 2em;
}
.contact-social {
    color: black;
    font-weight: bold;
    font-size: 4.5em;
}
@media (max-width: 600px) {
    iframe {
        width: 100vh;

    }
    .col {
        display: block;
    }
    .contact-social {
        font-size: 3em;
    }
    .container {
        display: flex;
        justify-content: space-around;
        
    }
}